amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.4
asgiref==3.2.10
atomicwrites==1.4.0
attrs==19.3.0
bcrypt==3.2.0
billiard==3.3.0.23
black==19.10b0
celery==3.1.26.post2
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.0
Django==3.1
django-celery==3.3.1
dnspython==2.0.0
dwebsocket==0.5.12
eventlet==0.26.1
greenlet==0.4.16
httprunner==3.1.4
idna==2.10
importlib-metadata==1.7.0
Jinja2==2.11.2
jmespath==0.9.5
kombu==3.0.37
loguru==0.4.1
MarkupSafe==1.1.1
monotonic==1.5
more-itertools==8.4.0
mysqlclient==2.0.1
packaging==20.4
paramiko==2.7.1
pathspec==0.8.0
pluggy==0.13.1
py==1.9.0
pycparser==2.20
pydantic==1.6.1
PyNaCl==1.4.0
pyparsing==2.4.7
pytest==5.4.3
pytest-html==2.1.1
pytest-metadata==1.10.0
pytz==2020.1
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
sentry-sdk==0.14.4
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
wcwidth==0.2.5
win32-setctime==1.0.1
zipp==3.1.0
